.projects {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.project {
    width: 30%;
    height: 35vh;
    background: url(/assets/images/mountain.jpg) center/cover no-repeat;
    transition: transform 0.2s;
    transform-origin: center center;
    text-align: center;
    margin: 1vw;
}
.project h1 {
    backdrop-filter: blur(10px);
    background: rgba(140, 140, 140, 0.3);
    padding: 2vh;
}
.project:hover {
    transform: scale(1.1);
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .projects, .container {
        flex-direction: column;
        align-items: center;
    }
    .project {
        width: 90%;
        margin:5vh 0;
        transform: none;
    }
}
