* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --main-background-color: #071117;
}
nav {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    gap:5vw
}
nav ul {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    
}
nav li {
    list-style-type:none;
}
nav a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease;
    text-shadow: 1px 1px 0.5px var(--main-background-color);
}
nav a:hover {
    color:black;
    text-shadow:none;
}
.logo {
    margin: 5vw;
    color:white;
    text-shadow: 2px 2px 1px var(--main-background-color);
}
header {
    min-height: 80vh;
    background: url(../images/starrail.webp) no-repeat center;
    background-size: cover;
}
.gradient {
    height: 5vh;
    margin-top: 70vh;
    background: linear-gradient(to top, var(--main-background-color), transparent);
    width: 100%;
    flex-shrink: 0;
}
main {
    min-height: 100vh;
    background-color: var(--main-background-color);
}
.about {
    display: flex;
    align-items: center;
    flex: wrap;
    padding-top: 10vh;
    justify-content: space-between;
}
.about-description {
    max-width: 50%;
    min-height: 25vh;
    color:white;
    font-weight: lighter;
    padding:5vw;
}
.about-image {
    min-width: 30%;
    min-height: 35vh;
    background: url(../images/starrail.webp) center;
    border-top-left-radius:10vh;
    border-bottom-left-radius: 10vh;
    
}
@media (max-width:500px) {
    nav ul {
        flex-direction: column;
        margin-top:5vh
    }
}