* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --main-background-color: #071117;
}
nav {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    gap:5vw
}
nav ul {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    
}
nav li {
    list-style-type:none;
}
nav a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease;
    text-shadow: 1px 1px 0.5px var(--main-background-color);
}
nav a:hover {
    color:black;
    text-shadow:none;
}
.logo {
    margin: 5vw;
    color:white;
    text-shadow: 2px 2px 1px var(--main-background-color);
}
header {
    min-height: 80vh;
    background: url(../images/Placeholder.PNG);
}
.gradient {
    height: 5vh;
    margin-top: 75vh;
    background: linear-gradient(to top, var(--main-background-color), transparent);
    width: 100%;
    flex-shrink: 0;
}
main {
    min-height: 100vh;
    background-color: var(--main-background-color);
}
@media (max-width:500px) {
    nav ul {
        flex-direction: column;
        margin-top:5vh
    }
}